In [1]:
import numpy as np
import pandas as pd
#import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
test_data = pd.read_csv('test_data.csv')
reference_ssid_empty = pd.read_csv('reliable_data_mst_powerful_per_msure_with_empty.csv')
reference_ssid_no_empty = pd.read_csv('reliable_data_mst_powerful_per_msure_no_empty.csv')

In [74]:
mesures_list = test_data[['datetime']].to_numpy().T[0]
mesures_list = pd.unique(mesures_list)
mesures_list[92]

'Mon Apr 05 15:08:29 GMT+03:00 2021'

In [99]:
sample = test_data.where(test_data['datetime'] == mesures_list[91]).dropna()
#print(sample)
def single_test(sample, reference_table = reference_ssid_empty, data_set = test_data, output_type='lite'):
    my_mac_list = sample[['mac']].to_numpy().T[0]
    result = pd.DataFrame([],columns=reference_table.columns)
    for mac in my_mac_list:
        if(not reference_table.where(reference_table['mac'] == mac).dropna().empty):
            result = reference_table.where(reference_table['mac'] == mac)
            break
    if (output_type == 'lite'):
        sample = sample.head(1).to_numpy()[0]
        if(result.empty):
            result = [0,0,-1,-1]
        else:
            result = result.dropna().head(1).to_numpy()[0]
        return sample[6], sample[7], result[2], result[3]
    else:
        return sample['mac'], sample['zone'].head(1), sample['floor'].head(1), result.dropna()
single_test(sample, output_type='lite')

(6.0, 3.0, -1, -1)

In [29]:
reference_ssid_empty.where(reference_ssid_empty['mac'] == sample[['mac']].to_numpy().T[0][1]).dropna().empty

False

In [54]:
test_data.where(test_data['datetime'] == mesures_list[0]).dropna()

,Unnamed: 0,n,id,mac,strength,ssid,zone,floor,datetime
0,494.0,495.0,537.0,00:26:52:d8:7e:e1,-69.0,bmstu_staff,11.0,5.0,Mon Apr 05 14:37:01 GMT+03:00 2021
1,495.0,496.0,538.0,d4:ca:6d:0c:2f:ba,-71.0,nii_isu_dep1,11.0,5.0,Mon Apr 05 14:37:01 GMT+03:00 2021
2,496.0,497.0,539.0,20:cf:30:ce:5d:43,-77.0,IU1-603,11.0,5.0,Mon Apr 05 14:37:01 GMT+03:00 2021
3,497.0,498.0,540.0,e4:8d:8c:52:83:15,-78.0,shtucer,11.0,5.0,Mon Apr 05 14:37:01 GMT+03:00 2021
4,498.0,499.0,541.0,06:d6:aa:29:ed:a6,-79.0,AndroidAP,11.0,5.0,Mon Apr 05 14:37:01 GMT+03:00 2021
5,499.0,500.0,542.0,38:2c:4a:a2:e3:e0,-80.0,Kafedra SM10,11.0,5.0,Mon Apr 05 14:37:01 GMT+03:00 2021
6,500.0,501.0,543.0,00:26:52:d8:7e:e9,-83.0,bmstu_guest,11.0,5.0,Mon Apr 05 14:37:01 GMT+03:00 2021
7,501.0,502.0,544.0,00:26:52:d8:7e:e0,-84.0,bmstu_lb,11.0,5.0,Mon Apr 05 14:37:01 GMT+03:00 2021
8,502.0,503.0,545.0,50:17:ff:df:58:61,-85.0,bmstu_staff,11.0,5.0,Mon Apr 05 14:37:01 GMT+03:00 2021
9,503.0,504.0,546.0,00:26:52:d8:74:91,-87.0,bmstu_staff,11.0,5.0,Mon Apr 05 14:37:01 GMT+03:00 2021
10,504.0,505.0,547.0,00:26:52:d8:74:99,-87.0,bmstu_guest,11.0,5.0,Mon Apr 05 14:37:01 GMT+03:00 2021
11,505.0,506.0,548.0,00:26:52:d8:74:90,-88.0,bmstu_lb,11.0,5.0,Mon Apr 05 14:37:01 GMT+03:00 2021
12,506.0,507.0,549.0,38:2c:4a:a2:e3:e1,-88.0,Kafedra SM10 5,11.0,5.0,Mon Apr 05 14:37:01 GMT+03:00 2021
13,507.0,508.0,550.0,5c:e8:83:71:cd:cb,-90.0,hw_manage_cdc0,11.0,5.0,Mon Apr 05 14:37:01 GMT+03:00 2021

In [55]:
test_data.where(test_data['mac'] == '00:26:52:d8:7e:e1').dropna()

,Unnamed: 0,n,id,mac,strength,ssid,zone,floor,datetime
0,494.0,495.0,537.0,00:26:52:d8:7e:e1,-69.0,bmstu_staff,11.0,5.0,Mon Apr 05 14:37:01 GMT+03:00 2021
21,515.0,516.0,558.0,00:26:52:d8:7e:e1,-78.0,bmstu_staff,11.0,5.0,Mon Apr 05 14:37:14 GMT+03:00 2021
42,537.0,538.0,580.0,00:26:52:d8:7e:e1,-77.0,bmstu_staff,11.0,5.0,Mon Apr 05 14:37:35 GMT+03:00 2021

In [100]:
#check full test data
i = 0 #total samples checked
fl_correct = 0 # total floores recognised correcty
z_correct = 0  # total zones recognised correcty

for mesure in mesures_list:
    i = i+1
    ftd_sample = test_data.where(test_data['datetime'] == mesure).dropna()
    test_result = single_test(ftd_sample, reference_table=reference_ssid_no_empty)
    #print(i, test_result)
    if(test_result[0]==test_result[2]):
        z_correct = z_correct+1
    
    if(test_result[1]==test_result[3]):
        fl_correct = fl_correct+1
print('total', i, 'zones recognised', z_correct,  z_correct/i*100, 'floores_recognised', fl_correct, fl_correct/i*100)

total 152 zones recognised 96 63.1578947368421 floores_recognised 93 61.18421052631579